{% extends 'main/layout.html' %}
{% block title %}Главное{% endblock %}
{% block body %}
	<div id="about-main">
		<div id="about-main-text">
			<h1>
				О системе IT_event_KG
			</h1>	
		</div>
		<hr>
		<div id="about-main-text">
			<h4>
				Что такое IT_event_KG?
			</h4>
		</div>
		<div id="about-main-info">
			<p>
				Проект IT_event_KG предназначен для упрощения организации хакатонов и обеспечения более удобного опыта для будущих участников. Основные функциональности проекта включают в себя:

				Регистрация команд: Участники будущих хакатонов могут зарегистрировать свои команды через платформу IT_event_KG. Это позволяет организаторам собирать информацию о количестве и составе команд заранее, что упрощает планирование и подготовку мероприятия.

				Полная информация о хакатоне: Платформа предоставляет подробную информацию о предстоящих хакатонах, включая даты, место проведения, тему, призы и правила участия. Это позволяет потенциальным участникам получить всю необходимую информацию для принятия решения о регистрации.

				Обратная связь через Telegram: Для участников и организаторов доступен механизм обратной связи через мессенджер Telegram. Это обеспечивает удобный способ взаимодействия, где пользователи могут задавать вопросы, получать обновления и получать поддержку.

				Такие функциональности проекта IT_event_KG помогают участникам и организаторам хакатонов эффективнее взаимодействовать и делать мероприятия более доступными и удобными.
			</p>
		</div>
		<div id="about-main-text">
			<h4>
				О создателе проекта:
			</h4>
		</div>
		<div id="about-main-info">
			<p>
				Проект IT_event_KG был создан начинающим python разработчиком <strong>Дастаном Темировым</strong>. Дастан имеет богатый опыт в сфере информационных технологий и организации мероприятий, что позволило ему разработать эту инновационную платформу для хакатонов.

				Дастан Темиров:
				- <a id="about-link" href="https://www.linkedin.com/in/dastan-temirov-21188b281">LinkedIn</a>
				- <a id="about-link" href="https://github.com/tidi18">GitHub</a>
			</p>
		</div>
		<hr>
	</div>
{% endblock %}

