{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body id="body">
  <header>
    <ul class="nav nav-underline" id="my-nav">
      <li class="nav-item">
        <a class="nav-link active" id="my-link-home" aria-current="page" href="{% url 'index' %}">Главное</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="my-link" href="{% url 'register_team' %}">Регистрация команды</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="my-link" href="{% url 'register_members' %}">Регистрация участника</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="my-link" href="#">Правила</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="my-link" href="#">Список участников</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="my-link" href="#">Контакты</a>
      </li>
    </ul>
  </header>

  

  <div class="container" id="con">
      {% block body %}
      {% endblock %}
  </div>



  <footer>

  </footer>




</body>
</html>



