#body {
	background-image: url(../img/wallpaperbetter.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
	margin: 0;
}

#my-nav {
	background-color: #423189;

}

#my-link-home {
	color: #FFFFFF;
	margin: 0 0 0 10px;
}

#my-link {
	color: #FFFFFF;

}

#my-form {
	opacity: 0.9;
}

#my-btn {
	background-color: #423189;
	border-color: #423189;
	

}

#con {
	color: wheat;
}

