#body {
	height: auto;
	background-image: url(../img/the_background.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
	margin: 0;
}


#main_container {
	color: white;
	margin: 5px 5px 5px 5px;
	padding: 20px;
}


#custom-navbar {
    background-color: #62197B !important;
    opacity: 0.9; 
}


#my_nav-link {
	color: white;
  border-bottom: 2px solid transparent; /* Задайте прозрачную границу */
  transition: border-color 0.3s; /* Добавьте плавный переход для цвета границы */
}

#my_nav-link:hover {
  border-color: white; /* Смена цвета границы при наведении курсора */
}


#my_toggler {
	color: white ;
}

#form_style {
	opacity: 0.9;
}

#button_style {
	background-color: #62197B;
	border-color: #62197B;
}

#checkbox-control input[type="checkbox"] {
    /* Стилизация чекбокса, как вам нужно */
    margin-right: 5px;
}

#checkbox-control input[type="checkbox"]:checked {
    /* Стилизация чекбокса при выборе */
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}

#checkbox-control input[type="checkbox"]:hover {
    /* Стилизация чекбокса при наведении */
    background-color: #e6e6e6;
    border: 1px solid #999;
}


